In [0]:
data = [(1,'athiya',2000),
        (2,'Raheem',3000),
        (3,'Rehan',4000)]
schema = ('id','name','salary')
df=spark.createDataFrame(data,schema)
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|athiya|  2000|
|  2|Raheem|  3000|
|  3| Rehan|  4000|
+---+------+------+

##asc() & desc()

In [0]:
df2 = df.sort(df.id.asc()).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|athiya|  2000|
|  2|Raheem|  3000|
|  3| Rehan|  4000|
+---+------+------+

In [0]:
df1 = df.sort(df.id.desc())

In [0]:
df1.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  3| Rehan|  4000|
|  2|Raheem|  3000|
|  1|athiya|  2000|
+---+------+------+

##alias()

In [0]:
df=df.select(df.id.alias('User_ID'),df.name.alias('User_name'),df.salary.alias('User_Salary')).show()

+-------+---------+-----------+
|User_ID|User_name|User_Salary|
+-------+---------+-----------+
|      1|   athiya|       2000|
|      2|   Raheem|       3000|
|      3|    Rehan|       4000|
+-------+---------+-----------+

##cast()

In [0]:
data = [(1,'athiya',2000),
        (2,'Raheem',3000),
        (3,'Rehan',4000)]
schema = ('id','name','salary')
df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|athiya|  2000|
|  2|Raheem|  3000|
|  3| Rehan|  4000|
+---+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
df1 = df.select(df.id.cast('int'))

In [0]:
df1.printSchema()

root
 |-- id: integer (nullable = true)

##filter() & like()

In [0]:
df2 = df.filter(df.name.like('%a'))

In [0]:
df2.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|athiya|  2000|
+---+------+------+